/*头部*/
.top-nav{
  .index-tex{
    margin-left: 56px;
    padding: 0 6px ;
    @include w-h(76px,55px);
    &:hover{
      border-bottom: 2px solid $green;
      color: #fff;
    }
    span:first-child{
      @include wh(18px);
      display: inline-block;
      margin-right: 10px;
      margin-bottom: -3px;
    }
    span.img-top_shop,
    span.img-top_shop_check{
      height: 16px;
    }
    span.img-top_order,
    span.img-top_order_check{
      height: 17px;
    }
  }
  .img-top_out,
  .img-top_out_check{
    @include w-h(18px,17px);
    display: inline-block;
  }
  .img-top_computer,
  .img-top_computer_check{
    @include w-h(18px,16px);
    display: inline-block;
  }
  .img-top_bell,
  .img-top_bell_check{
    @include w-h(18px,19px);
    display: inline-block;
  }
  .user-detail{
    position: relative;
    .badge{
      position: absolute;
      left: 8px;
      top: 0;
      padding: 1px 4px;
    }
  }
  .user-block {
    margin-left: 0;
    display: inline-block;
    margin-right: 24px;
    .user-panel {
      width: 166px;
      ul li a {
        padding: 5px 0;
      }
    }
  }
  .bell-box{
    a{
      overflow: hidden;
      span:first-child{
        float: left;
        margin-left:20px;
      }
      span:last-child{
        float: right;
        color: $red;
        margin-right:20px;
      }
    }
  }
  .m-right-sm {
    padding: 0;
  }
  .dropdown-menu {
    right: -44px;
  }
}
/*左侧导航*/
.block {
  padding-left: 0;
}
.img-red_star{
  @include wh(10px);
  display: inline-block;
}
.sidebar-menu.fixed .block {
  padding-left: 0;
  font-size: 14px;
  font-weight: normal;
  margin-left: 12px;
}
.sidebar-menu .main-menu ul li a .menu-icon {
  display: inline-block;
  width: 26px;
  text-align: center;
  transition: color .4s ease;
  -webkit-transition: color .4s ease;
  -moz-transition: color .4s ease;
  -ms-transition: color .4s ease;
  -o-transition: color .4s ease;
}
.sidebar-menu span.text.m-left-sm,.sidebar-menu span.submenu-label
{
  font-size: 14px;
  font-weight: normal;
}
.sidebar-menu .main-menu ul li a .submenu-icon:before {
  content: "\f105";
  display: inline-block;
  font-family: FontAwesome;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bg-palette4 {
  background-color: inherit;
}
.sidebar-menu .main-menu ul.submenu a{
  margin-left: 30px;
}
.sidebar-menu .main-menu ul.submenu a .img-red_star{
  opacity: 0;
}
.sidebar-menu .main-menu ul li:hover{
  background-color: #17232c;
}
.sidebar-menu {
  margin-top: 6px;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
aside .caret {
  position: absolute;
  right: 10px;
  top:20px;
}
.sidebar-menu li.open .caret{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.slimScrollDiv{
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100%;
}
.sidebar-inner.scrollable-sidebar{
  overflow: hidden;
  width: auto;
  height: 100%;
}
